section.contact
  .container
    .row
      .col-md-4.col-sm-6
        h2 Contact Me
        a(href="tel:+61412343278")
          h4.phone 
            span Phone: 
            | 04-123-432-78
        a(href="mailto:aaron.christopherb@gmail.com")
          h4.email
            span Email: 
            | aaron.christopherb@gmail.com
        .row.icons
          .col-xs-4
            a(href="//instagram.com")
              i.fa.fa-instagram.fa-4x(aria-hidden='true')
          .col-xs-4
            a(href="//linkedin.com")
              i.fa.fa-linkedin.fa-4x(aria-hidden='true')
          .col-xs-4
            a(href="//facebook.com")
              i.fa.fa-facebook.fa-4x(aria-hidden='true')
