section.company-description
  .container
    .row
      .col-md-6.wow.fadeInLeft(data-wow-delay='.3s')
        img.img-responsive(src='/assets/images/about-section-logo.png', alt='')
      .col-md-6
        .block
          h3.subtitle.wow.fadeInUp(data-wow-delay='.3s', data-wow-duration='500ms') Why We are Different
          p.wow.fadeInUp(data-wow-delay='.5s', data-wow-duration='500ms')
            | At AKB Cleaning Co, we work with a number of clients and partners ranging from carpet cleaning specialists, property maintenance specialists, tenants, landlords, home owners, and realestate agents. Whether it be a general clean, an indepth bond clean or a tailored job to suit your needs, we will ensure your property will achieve the highest standard of cleanliness. With majority of our experience gained in the realestate industry, our services are affordable and second to none.
          p.wow.fadeInUp(data-wow-delay='.7s', data-wow-duration='500ms')
            | With carefully selected and trained staff, you know you are in good hands.

section.about-feature.clearfix
  .container-fluid
    .row
      // Garden and Lawn Maintance add in
      .block.about-feature-1.wow.fadeInDown(data-wow-duration='500ms', data-wow-delay='.3s')
        h2
          | Why Choose Us
        p
          | With great prices, flexible availability, and exceptional quality of work. The real question here is why not choose us? We are confident you won't find a better service at a better price.
      .block.about-feature-2.wow.fadeInDown(data-wow-duration='500ms', data-wow-delay='.5s')
        h2.item_title
          | What You Get
        p
          | Our committment to our customers is simple and we promise that what you get will be. The best clean for your house, at a convienient, and at the best standard.
      .block.about-feature-3.wow.fadeInDown(data-wow-duration='500ms', data-wow-delay='.7s')
        h2.item_title
          | Join The Team
        p
          | At AKB Cleaning Co we are always looking for hard working employees with an eye for care and detail. If you think you have what it takes get in touch with us through our contact page. Make sure to include your resume, relevant certificates and any previous education and experience.
