section#feature
  .container
    .section-heading
      h1.title.wow.fadeInDown(data-wow-delay='.3s') Why Choose Us?
      p.wow.fadeInDown(data-wow-delay='.5s')
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed,
        br
        |  quasi dolores numquam dolor vero ex, tempora commodi repellendus quod laborum.
    .row
      .col-md-4.col-lg-4.col-xs-12
        .media.wow.fadeInUp.animated(data-wow-duration='500ms', data-wow-delay='300ms')
          .media-left
            .icon
              i.ion-ios-flask-outline
          .media-body
            h4.media-heading Media heading
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, sint.
      .col-md-4.col-lg-4.col-xs-12
        .media.wow.fadeInDown.animated(data-wow-duration='500ms', data-wow-delay='600ms')
          .media-left
            .icon
              i.ion-ios-lightbulb-outline
          .media-body
            h4.media-heading Well documented.
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, sint.
      .col-md-4.col-lg-4.col-xs-12
        .media.wow.fadeInDown.animated(data-wow-duration='500ms', data-wow-delay='900ms')
          .media-left
            .icon
              i.ion-ios-lightbulb-outline
          .media-body
            h4.media-heading Well documented.
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, sint.
      .col-md-4.col-lg-4.col-xs-12
        .media.wow.fadeInDown.animated(data-wow-duration='500ms', data-wow-delay='1200ms')
          .media-left
            .icon
              i.ion-ios-americanfootball-outline
          .media-body
            h4.media-heading Free updates
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, sint.
      .col-md-4.col-lg-4.col-xs-12
        .media.wow.fadeInDown.animated(data-wow-duration='500ms', data-wow-delay='1500ms')
          .media-left
            .icon
              i.ion-ios-keypad-outline
          .media-body
            h4.media-heading Solid Support
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, sint.
      .col-md-4.col-lg-4.col-xs-12
        .media.wow.fadeInDown.animated(data-wow-duration='500ms', data-wow-delay='1800ms')
          .media-left
            .icon
              i.ion-ios-barcode-outline
          .media-body
            h4.media-heading Simple Installation
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, sint.
