section.hero
  img.profile-pic(src="/assets/images/profile-pic-transparent.png")
  .jumbotron
    .container
      h1 Aaron Brown
      p Partner at XYZ Realestate
      a.btn.btn-contact(href="#") Contact Aaron
