section#call-to-action
  .container
    .row
      .col-md-12
        .block
          h2.title.wow.fadeInDown(data-wow-delay='.3s', data-wow-duration='500ms')
            | SO WHAT are you waiting for?
            p.wow.fadeInDown(data-wow-delay='.5s', data-wow-duration='500ms')
              | Get in touch with us today to recieve a no obligation
              br
              | free quote, and discover what an enjoyable experience for you having someone help clean your house can be.
            a.btn.btn-default.btn-contact.wow.fadeInDown(href='/booking-form', data-wow-delay='.7s', data-wow-duration='500ms') Contact Us