section#about
  .container
    .row
      .col-md-6.col-sm-6
        .block.wow.fadeInLeft(data-wow-delay='.3s', data-wow-duration='500ms')
          h2
            | ABOUT our service
          p
            | Our services are carefully considered and crafted to ensure that you as our customer get the best possible clean for the money you pay. The whole process has been streamlined so that your house, whether you own your own rental property or are looking for someone to help you clean up for that inspection. We've got your back.
          p
            | Our hight standards, industry leading practices and friendly staff will ensure that you will be looking forward to the next time you get your house cleaned.
      .col-md-6.col-sm-6
        .block.wow.fadeInRight(data-wow-delay='.3s', data-wow-duration='500ms')
          img(src='/assets/images/living-room.jpg', alt='')
