section#hero-area
  .container
    .row
      .col-md-12.text-center
        .block.wow.fadeInUp(data-wow-delay='.3s')
          // Slider
          section.cd-intro
            h1.wow.fadeInUp.animated.cd-headline.slide(data-wow-delay='.4s')
              span A.K.B Cleaning Co can help you with
              br
              span.cd-words-wrapper
                b.is-visible Tidying up for inspections
                b General surface cleaning
                b complete bond cleaning
                b routine maintenance cleaning
                b Cleaning before you sell
          // cd-intro
          // /.slider
          h2.wow.fadeInUp.animated(data-wow-delay='.6s')
            | With professional and friendly staff we can take care of any cleaning need.
            br
            |  We are the best at what we do.
          a.btn-lines.dark.light.wow.fadeInUp.animated.btn.btn-default.btn-green(data-wow-delay='.9s', href='/booking-form') get in touch
