section.global-page-header
  .container
    .row
      .col-md-12
        .block
          h2 {{page.title}}
          ol.breadcrumb
            li
              a(href='/')
                i.ion-ios-home
                |                                         Home
            li.active {{page.title}}
