section#pricing-table.row.flat
  .section-header
    .container
      .row
        .col-md-12
          .block
            h2.wow.fadeInUp.animated(data-wow-delay='.3s', data-wow-duration='500ms') Cleaning Packages
  .container
    .col-lg-5.col-md-5.col-xs-6.col-md-offset-1.col-lg-offset-1.wow.fadeInUp.animated(data-wow-delay='.3s', data-wow-duration='500ms')
      ul.plan.plan1
        li.plan-name
          h2 Basic Clean
        li.plan-price
          strong $29
          |  / month
        li
          strong 5GB
          |  Storage
        li
          strong 1GB
          |  RAM
        li
          strong 400GB
          |  Bandwidth
        li
          strong 10
          |  Email Address
        li
          strong Forum
          |  Support
        li.plan-action
          a.btn.btn-lg(href='/booing-form') 
            h3 book now
    .col-lg-5.col-md-5.col-xs-6.wow.fadeInUp.animated(data-wow-delay='.5s', data-wow-duration='500ms')
      ul.plan.plan2
        li.plan-name
          h2 Bond Clean
        li.plan-price
          strong $39
          |  / month
        li
          strong 5GB
          |  Storage
        li
          strong 1GB
          |  RAM
        li
          strong 400GB
          |  Bandwidth
        li
          strong 10
          |  Email Address
        li
          strong Forum
          |  Support
        li.plan-action
          a.btn.btn-lg(href='/booking-form') 
            h3 book now
