section#pricing-table.row.flat
  .section-header
    .container
      .row
        .col-md-12
          .block
            h2.wow.fadeInUp.animated(data-wow-delay='.3s', data-wow-duration='500ms') Cleaning Packages
  .container
    .row
      .col-lg-5.col-md-5.col-xs-12.col-md-offset-1.col-lg-offset-1.wow.fadeInUp.animated(data-wow-delay='.3s', data-wow-duration='500ms')
        ul.plan.plan1
          li.plan-name
            h2 General / Sparkle Clean
          li.plan-price
            | From
            strong $189.00 (3 Bedroom)
          li
            | Window Cleaning (internal and external)
          li
            | Kitchen Clean
          li
            | Bathroom Clean
          li
            | Bedroom Clean
          li
            strike Oven Clean
          li
            strike Deep Cleaning
          li
            strike Grout Cleaning
          li.plan-action
            a.btn.btn-lg(href='/contact') 
              h3 Request Quote
      .col-lg-5.col-md-5.col-xs-12.wow.fadeInUp.animated(data-wow-delay='.5s', data-wow-duration='500ms')
        ul.plan.plan2
          li.plan-name
            h2 Total Bond Clean
          li.plan-price
            | From
            strong $339.00 (3 Bedroom)
          li
            | Window Cleaning (internal and external)
          li
            | Kitchen Clean
          li
            | Bathroom Clean
          li
            | Bedroom Clean
          li
            | Oven Clean
          li
            | Deep Cleaning
          li
            | Grout Cleaning
          li.plan-action
            a.btn.btn-lg(href='/contact') 
              h3 Request Quote
    .row
      .col-lg-5.col-md-5.col-xs-12.col-md-offset-1.col-lg-offset-1.wow.fadeInUp.animated(data-wow-delay='.3s', data-wow-duration='500ms')
        ul.plan.plan1
          li.plan-name
            h2 Custom Package
          li.plan-price
            strong AT COST (Any Size)
          li
            | Please enter request on our contact page
          li.plan-action
            a.btn.btn-lg(href='/contact') 
              h3 Request Quote