section#team
  .container
    .row
      h2.subtitle.text-center Meet The Team
      .col-md-4
        .team-member.wow.fadeInLeft(data-wow-duration='500ms', data-wow-delay='.3s')
          .team-img
            img.team-pic(src='/assets/images/partners/carpetcleaning.jpg', alt='')
          h3.team_name Carpet Cleaning
          p.team_designation Brisbanes Best
          p.team_text
            | A Description about the partnership then links to the social accounts
          p.social-icons
            a.facebook(href='#', target='_blank')
              i.ion-social-facebook-outline
            a(href='#', target='_blank')
              i.ion-social-twitter-outline
            a(href='#', target='_blank')
              i.ion-social-linkedin-outline
            a(href='#', target='_blank')
              i.ion-social-googleplus-outline
      .col-md-4
        .team-member.wow.fadeInLeft(data-wow-duration='500ms', data-wow-delay='.3s')
          .team-img
            img.team-pic(src='/assets/images/partners/pestcontrol.jpg', alt='')
          h3.team_name Pest Control
          p.team_designation Brisbanes Best
          p.team_text
            | A Description about the partnership then links to the social accounts
          p.social-icons
            a.facebook(href='#', target='_blank')
              i.ion-social-facebook-outline
            a(href='#', target='_blank')
              i.ion-social-twitter-outline
            a(href='#', target='_blank')
              i.ion-social-linkedin-outline
            a(href='#', target='_blank')
              i.ion-social-googleplus-outline
      .col-md-4
        .team-member.wow.fadeInLeft(data-wow-duration='500ms', data-wow-delay='.3s')
          .team-img
            img.team-pic(src='/assets/images/partners/maintance.jpg', alt='')
          h3.team_name Home Maintance
          p.team_designation Brisbanes Best
          p.team_text
            | A Description about the partnership then links to the social accounts
          p.social-icons
            a.facebook(href='#', target='_blank')
              i.ion-social-facebook-outline
            a(href='#', target='_blank')
              i.ion-social-twitter-outline
            a(href='#', target='_blank')
              i.ion-social-linkedin-outline
            a(href='#', target='_blank')
              i.ion-social-googleplus-outline