section#service-page.pages.service-page
  .container
    .row
      .col-md-6
        .block
          h2.subtitle.wow.fadeInUp.animated(data-wow-delay='.3s', data-wow-duration='500ms') What We Love To Do
          p.subtitle-des.wow.fadeInUp.animated(data-wow-delay='.5s', data-wow-duration='500ms')
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis porro recusandae non quibusdam iure adipisci.
          .row.service-parts
            .col-md-6
              .block.wow.fadeInUp.animated(data-wow-duration='400ms', data-wow-delay='600ms')
                i.ion-ios-paper-outline
                h4 BRANDING
                p
                  | Veritatis eligendi, dignissimos. Porta fermentum mus aute pulvinar earum minus platea massa feugiat rutrum urna facilisi ipsameum.
            .col-md-6
              .block.wow.fadeInUp.animated(data-wow-duration='400ms', data-wow-delay='800ms')
                i.ion-ios-pint-outline
                h4 DESIGN
                p
                  | Veritatis eligendi, dignissimos. Porta fermentum mus aute pulvinar earum minus platea massa feugiat rutrum urna facilisi ipsameum.
            .col-md-6
              .block.wow.fadeInUp.animated(data-wow-duration='400ms', data-wow-delay='1s')
                i.ion-ios-paper-outline
                h4 DEVELOPMENT
                p
                  | Veritatis eligendi, dignissimos. Porta fermentum mus aute pulvinar earum minus platea massa feugiat rutrum urna facilisi ipsameum.
            .col-md-6
              .block.wow.fadeInUp.animated(data-wow-duration='400ms', data-wow-delay='1.1s')
                i.ion-ios-paper-outline
                h4 THEMEING
                p
                  | Veritatis eligendi, dignissimos. Porta fermentum mus aute pulvinar earum minus platea massa feugiat rutrum urna facilisi ipsameum.
      .col-md-6
        .block
          img.img-responsive(src='images/team.jpg', alt='')
