section#clients
  .container
    .row
      .col-md-12
        h2.subtitle.text-center.wow.fadeInDown(data-wow-duration='500ms', data-wow-delay='.3s') Our Happy Clinets
        p.subtitle-des.text-center.wow.fadeInDown(data-wow-duration='500ms', data-wow-delay='.5s') See what other like you have to say about us.
        #clients-logo.owl-carousel
          div
            img(src='images/clients/logo-1.jpg', alt='')
          div
            img(src='images/clients/logo-2.jpg', alt='')
          div
            img(src='images/clients/logo-3.jpg', alt='')
          div
            img(src='images/clients/logo-4.jpg', alt='')
          div
            img(src='images/clients/logo-5.jpg', alt='')
          div
            img(src='images/clients/logo-1.jpg', alt='')
          div
            img(src='images/clients/logo-2.jpg', alt='')
          div
            img(src='images/clients/logo-3.jpg', alt='')
          div
            img(src='images/clients/logo-4.jpg', alt='')
          div
            img(src='images/clients/logo-5.jpg', alt='')
