section#testimonials
  .container
    .row
      .col-md-12
        h2.subtitle.text-center.wow.fadeInDown(data-wow-duration='500ms', data-wow-delay='.3s') Our Happy Clinets
        p.subtitle-des.text-center.wow.fadeInDown(data-wow-duration='500ms', data-wow-delay='.5s') See what other like you have to say about us.
        #testimonials-img.owl-carousel
          div
            img.img-circle(src='/assets/images/testimonials/house1.jpg', alt='')
          div
            img.img-circle(src='/assets/images/testimonials/house1.jpg', alt='')
          div
            img.img-circle(src='/assets/images/testimonials/house1.jpg', alt='')
          div
            img.img-circle(src='/assets/images/testimonials/house1.jpg', alt='')
          div
            img.img-circle(src='/assets/images/testimonials/house1.jpg', alt='')
          div
            img.img-circle(src='/assets/images/testimonials/house1.jpg', alt='')
          div
            img.img-circle(src='/assets/images/testimonials/house1.jpg', alt='')
          div
            img.img-circle(src='/assets/images/testimonials/house1.jpg', alt='')
          div
            img.img-circle(src='/assets/images/testimonials/house1.jpg', alt='')
          div
            img.img-circle(src='/assets/images/testimonials/house1.jpg', alt='')
