section.contact
  margin-top: 60px
  margin-bottom: 60px
  h2
    margin-bottom: 30px
  h4
    color: $color-five
    transition: all 0.3s ease-in-out
    transform-origin: left
    span
      font-weight: bold
    &:hover
      color: $color-two
      transform: scale(1.1)
  .icons
    margin-top: 30px
    i
      color: $color-five
      transition: all 0.3s ease-in-out
      &:hover
        transform: scale(1.1)
        color: $color-two
