nav.navbar.navbar-default
  background: none
  border: none
  border-radius: 0
  position: absolute
  top: 0
  z-index: 20
  width: 100%
  @media (max-width: 768px)
    background: $color-five
  .navbar-collapse.in
    overflow-x: hidden
  &.navbar-pages
    background-color: $color-five
    width: 100%
    .navbar-collapse
      padding: 0
    .navbar-brand
      margin-top: 5px
      margin-bottom: 5px
    .navbar-nav
      margin-left: 0px
      padding-top: 0px
      li
        a
          padding-top: 20px
          padding-bottom: 20px
          color: $color-six
          &:hover
            color: $color-five
        &.active
          a
            &:hover
              background: darken($color-six, 5%)
  .navbar-nav
    background: $color-five
    @media (min-width: 768px)
      margin-left: 90px
      padding-top: 30px
      background: transparent
    li
      transition: all 0.3s ease-in-out
      &.active > a
        transition: all 0.3s ease-in-out
        color: $color-five
        background-color: $color-six
        &:hover
          color: darken($color-five, 10%)
          background-color: darken($color-six, 10%)
      > a
        color: $color-six
        transition: all 0.3s ease-in-out
        @media (max-width: 768px)
          padding-top: 20px
          padding-bottom: 20px
      &:hover
        > a
          @media (max-width: 768px)
            background-color: $color-six
            color: $color-five
          @media (min-width: 768px)
            transform: scale(1.1)
            color: darken($color-six, 10%)

  .navbar-brand
    margin-top: 30px
    font-size: 4em
    font-weight: lighter
    font-family: 'roboto', sans-serif
    color: $color-six
    transition: all 0.3s ease-in-out
    @media (max-width: 420px)
      font-size: 2.75em
      margin-top: 0
    span.highlight
      color: $color-one
      font-family: 'Open Sans', sans-serif
      transition: all 0.3s ease-in-out
      font-weight: bold
    &:hover
      color: darken($color-six, 10%)
      span.highlight
        color: darken($color-one, 5%)
