#pricing-table
  margin-bottom: 60px
.flat .plan
  list-style: none
  padding: 0 0 20px
  margin: 0 0 15px
  background: #fff
  text-align: center
  .btn
    background: $color-one
    color: $color-three
    border-radius: 0px
    &:hover
      background: darken($color-one, 5%)
    h3
      margin-top: 0
      margin-bottom: 0
      text-transform: uppercase
      font-weight: 300
  li
    padding: 10px 15px
    color: $color-two
    border-top: 1px solid lighten($color-two, 60%)
    transition: 300ms
    &.plan-price
      border-top: 0
    &.plan-name
      padding: 15px
      color: #fff
      background: $color-one
      margin-bottom: 30px
      border-top: 0
      text-transform: uppercase
      h2
        margin: 0
        font-weight: 800
        font-size: 2em
    > strong
      color: $color-one
    &.plan-action
      margin-top: 10px
      border-top: 0
  &:hover li.plan-name
    background: darken($color-one, 5%)