$color-one: #009dd6
$primary-color: $color-one
$color-two: #515151
$color-three: #FFFFFF
$color-four: #EEEEEE
$text-color: $color-two
$accent-color: lighten($color-one, 10%)
$link-color: $accent-color
$selection-color: $color-one
