<!DOCTYPE html>
<html class="no-js">
<head>
  <!-- Basic Page Needs
  ================================================== -->
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link rel="icon" type="image/png" href="/assets/images/favicon.png">
  <title>{{ page.title }}</title>
  <meta name="description" content="{{ page.description }}">
  <meta name="keywords" content="{{ page.keywords }}">
  <!-- Mobile Specific Metas
  ================================================== -->
  <meta name="format-detection" content="telephone=no">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Template CSS Files
  ================================================== -->
  <link rel="stylesheet" href="/assets/css/main.css">

</head>

<body>

  {{  content  }}

  <!-- Template Javascript Files
  ================================================== -->
  <!-- modernizr js -->
  <script src="/assets/js/vendor/modernizr-2.6.2.min.js"></script>
  <!-- jquery -->
  <script src="/assets/js/jquery-3.1.1.min.js"></script>
  <!-- owl carouserl js -->
  <script src="/assets/js/owl.carousel.min.js"></script>
  <!-- bootstrap js -->

  <script src="/assets/js/bootstrap.min.js"></script>
  <!-- wow js -->
  <script src="/assets/js/wow.min.js"></script>
  <!-- slider js -->
  <script src="/assets/js/slider.js"></script>
  <script src="/assets/js/jquery.fancybox.js"></script>
  <!-- template main js -->
  <script src="/assets/js/main.js"></script>

</body>

</html>
